
  <ion-header>
    <ion-toolbar color = "primary">
      <ion-title>
       Registration
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="auth-form">
    <ion-grid>
      <ion-row>
        <ion-row align-self-center>
          <ion-item>
            <ion-label position="floating" >Username</ion-label>
            <ion-input inputmode = "text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input inputmode = "text" type = "password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/login']" expand="block" color="primary" type ="submit">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>