#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  /*--background: url(./Assets/Background1.jpg) no-repeat center/cover fixed;*/
  background: white;
}

ion-slides {

  width: 100%;
  height: 100%;
  position:absolute;
}

ion-slide {
  width: 100%;
  height: 100%;
  padding: 1%;
  position:relative;
  text-align:center;
  flex-flow: column;
}

ion-slide img{
  max-width: 60%;
}

ion-slide p {
  padding: 10%;
}

.background{
  background: url("../../assets/images/home/background.jpg") no-repeat;

}
