.blue-background{
  background: url("../../../assets/images/home/bluebg.jpg") no-repeat;
  background-size: 100% 100%;

}


ion-card{
  min-height: 10em;
  min-width: 10em;
  color: black;
}

ion-card.button{
  background-color: #018de5;
  color: white;
}


ion-card h1{
text-align: center;
width: 100%;
padding-left: 5%;
padding-right: 5%;
}
