

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
        <img src="./assets/images/home/first.png"/><br/>
        <h1>Welcome to F-Forms!</h1>
        <p>F-Forms is an application to generate and answer forms</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/home/second.png"/><br/>
      <h1>Answer the forms</h1>
      <p>You can navigate between the menus to find your favorite</p>
    </ion-slide>
    <ion-slide class="ion-text-align">
      <img src="./assets/images/home/third.png"/><br/>
      <h1>Create forms</h1>
      <p>Generate forms to be answered by users</p>
    </ion-slide>
    <ion-slide class="city-background">
      <h1>Ready?</h1>
      <ion-button expand="full" size="large" [routerLink]="['/registration']">Register</ion-button>
      <ion-button expand="full" size="large" [routerLink]="['/login']">Login</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
