
  <ion-header>
    <ion-toolbar color = "primary">
      <ion-title class= "ion-text-center">
       Registration
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-row class="bg-transparent">
          <ion-item color="none" >
            <ion-label position="floating" >Username</ion-label>
            <ion-input inputmode = "text"></ion-input>
          </ion-item>
          <ion-item color="none" >
            <ion-label position="floating">Password</ion-label>
            <ion-input inputmode = "text" type = "password"></ion-input>
          </ion-item>
        </ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/user-menu']" expand="block" color="primary" type ="submit">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>