ion-content {
    --background: url(./Assets/Background1.jpg) no-repeat center/cover fixed;
  }

ion-buttom {
  padding: 16px;
  padding-top: 16px;
  padding-bottom:16px
}

.bg-transparent {
  background: transparent;
}