<ion-header>
  <ion-toolbar color = "primary">
    <ion-title class= "ion-text-center">
     Welcome to F-Forms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="bg-transparent">
    <ion-item color="none" lines="none">
      <ion-button expand="block" size="large" shape="round">Technology</ion-button>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-button expand="block" size="large" shape="round">TV Series</ion-button>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-button expand="block" size="large" shape="round">Marcos es Marico</ion-button>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-button expand="block" size="large" shape="round">Venecos</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
